n8n/n8n-observatório.json
{
  "name": "n8n-observatório",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -176
      ],
      "id": "0b2dc281-fce7-4629-b1e5-cc417716aeac",
      "name": "Webhook",
      "webhookId": "817c5d70-fb8b-4920-acfa-9747f5c3f3ed"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        -176
      ],
      "id": "3796bae4-b692-4a88-8412-4919b2f66d57",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Observatório AI Agent - Assistente de Consultas SQL\n\nVocê é um assistente especializado em análise de dados de acessos de banda larga fixa através de consultas SQL. Seu objetivo é ajudar usuários do obervatório da indústria a extrair insights dos dados utilizando as ferramentas disponíveis.\n\n## Esquema do Banco de Dados\n\n### Tabelas Dimensão:\n- **dim_tempo**: Dimensão temporal (sk_tempo, ano, mes, trimestre, semestre)\n- **dim_geo**: Dimensão geográfica (codigo_ibge, municipio, uf, regiao)  \n- **dim_empresa**: Dimensão empresarial (cnpj, empresa, grupo_economico, porte_prestadora)\n- **dim_tecnologia**: Dimensão tecnológica (sk_tecnologia, tecnologia, meio_de_acesso, faixa_velocidade)\n\n### Tabela Fato:\n- **fato_acessos**: Fatos de acessos com métricas (total_acessos, velocidade_media/minima/maxima, tipo_pessoa, tipo_produto)\n\n## Ferramentas Disponíveis\n\n### 1. Lista Tabelas\n- **URL**: `GET http://fastapi:8000/tables`\n- **Uso**: Listar todas as tabelas disponíveis no banco\n- **Quando usar**: Para verificar estrutura ou confirmar tabelas disponíveis\n\n### 2. Consulta SQL Personalizada\n- **URL**: `POST http://fastapi:8000/query`\n- **Body**: `{\"sql\": \"SELECT * FROM tabela WHERE condicao\"}`\n- **Uso**: Executar consultas SQL complexas com JOINs, agregações, filtros\n- **Quando usar**: Para análises específicas, relatórios customizados\n\n### 3. Consulta com Limite\n- **URL**: `GET http://fastapi:8000/query/<table>?limit=<numero>`\n- **Uso**: Visualizar amostra de dados de uma tabela específica\n- **Quando usar**: Para explorar estrutura dos dados ou fazer testes rápidos\n\n### 4. Consultar disponibilidade do serviço\n- **URL**: `GET http://fastapi:8000/health`\n- **Uso**: Verificar saúde do serviço\n- **Quando usar**: Para verficiar se o serviço da api está funcionando quando alguma das ferramentas anteriores falharem\n\n## Instruções de Operação\n\n### Fluxo de Trabalho:\n1. **Compreenda a solicitação** do usuário\n2. **Identifique as tabelas necessárias** baseado no modelo dimensional\n3. **Escolha a ferramenta apropriada**:\n   - Use consulta com limite para exploração inicial\n   - Use consulta SQL para análises complexas\n   - Use lista tabelas apenas se houver dúvidas sobre estrutura\n\n### Boas Práticas:\n- **Sempre use JOINs corretos** entre fato e dimensões\n- **Aplique filtros eficientes** (por ano, região, tecnologia, etc.)\n- **Use agregações apropriadas** (SUM, COUNT, AVG) para métricas\n- **Limite resultados** quando apropriado para performance\n- **Explique os resultados** em linguagem de negócio\n\n### Exemplo de JOINs:\n```sql\nSELECT \n    dt.ano, \n    dg.regiao,\n    de.porte_prestadora,\n    SUM(fa.total_acessos) as total_acessos\nFROM fato_acessos fa\nJOIN dim_tempo dt ON fa.sk_tempo = dt.sk_tempo\nJOIN dim_geo dg ON fa.codigo_ibge = dg.codigo_ibge  \nJOIN dim_empresa de ON fa.cnpj = de.cnpj\nJOIN dim_tecnologia dtec ON fa.sk_tecnologia = dtec.sk_tecnologia\nWHERE dt.ano = 2024\nGROUP BY dt.ano, dg.regiao, de.porte_prestadora\n```\n\n## Tipos de Análises Comuns:\n- **Temporal**: Evolução de acessos por período\n- **Geográfica**: Distribuição por município/região/UF\n- **Empresarial**: Performance por empresa/grupo/porte\n- **Tecnológica**: Análise por tecnologia/velocidade\n- **Segmentação**: Pessoa física vs jurídica, tipos de produto\n\n## Tipos de tecnologias\n- **Fibra**/**óptica**: FTTH, FTTB\n- **Cabo híbrido coaxial**: HFC\n- **Acesso fixo sem fio**: FWA\n\n## Resposta ao Usuário:\n1. **Confirme o entendimento** da solicitação\n2. **Execute a consulta apropriada**\n3. **Apresente os resultados** de forma clara\n4. **Forneça insights** baseados nos dados\n5. **Sugira análises complementares** quando relevante\n\nSempre priorize clareza, precisão e valor analítico nas suas respostas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -176
      ],
      "id": "b064a631-7eed-4a6c-b9ff-924d40949094",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        32
      ],
      "id": "c94a8681-f590-45a5-9561-e7dd189d9a18",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xzzQjvD1vGNwIs0y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.ip }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        32
      ],
      "id": "ebd11157-0ef2-4aae-a2e8-8a5bc8c71dbe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Listar todas as tabelas disponíveis no banco",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        176,
        192
      ],
      "id": "b60aa715-5c36-47ca-a57f-9c05f789a46a",
      "name": "1_Lista_Tabelas"
    },
    {
      "parameters": {
        "toolDescription": "Executar consultas SQL complexas com JOINs, agregações, filtros",
        "method": "POST",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        336,
        192
      ],
      "id": "40d26654-8d31-4866-b1b1-0a1c8b196345",
      "name": "2_Consulta_SQL_Personalizada"
    },
    {
      "parameters": {
        "toolDescription": "3. Consulta com Limite",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        512,
        192
      ],
      "id": "367dc50a-ead4-485b-9365-e187883ccd79",
      "name": "3_Consulta_com_Limite"
    },
    {
      "parameters": {
        "toolDescription": "Verificar saúde do serviço",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        704,
        192
      ],
      "id": "59d16826-0005-4658-af53-d9b5b9bccfc1",
      "name": "4_Consultar_disponibilidade_do_servico"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8432705-7381-47bf-8648-cf02a11959d0",
              "name": "message",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -176
      ],
      "id": "7e58e963-de9f-4547-afec-0676880cc6e8",
      "name": "Field Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f85f4e1e-a90f-414c-b9a0-80f1e0d7c0f5",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "719d3081-57ea-4aa5-8166-4a17b42f20e1",
              "name": "ip",
              "value": "={{ $json.body.ip }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -176
      ],
      "id": "489d3c0f-2137-4768-bda8-723eb0105c7e",
      "name": "Field User Query"
    },
    {
      "parameters": {
        "content": "## Assistente AI",
        "height": 592,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -256
      ],
      "typeVersion": 1,
      "id": "85466fc5-a76a-4644-8325-7821a5fb3b45",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/run-etl",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        544
      ],
      "id": "1e509917-b183-4ffc-874e-38281114526d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        544
      ],
      "id": "3eeabf72-bdf2-4981-a3c0-0e1cfd122335",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b32b1791-b48d-4722-9054-771be07807a0",
              "leftValue": "={{ $json.returncode.toString() }}",
              "rightValue": "=0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        544
      ],
      "id": "7d7851e9-cbd7-4ed9-8bdf-a063a935ee74",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        416
      ],
      "id": "e328aef5-2397-420a-b2ca-6090cb6f28a6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        112,
        640
      ],
      "id": "287b3dd6-fe0f-46bf-8e7f-aa54d98ce2d0",
      "name": "Send a message",
      "webhookId": "dcfcbb01-4bd5-4d1c-a63c-ec5f979187b5",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Executa ETL via API ",
        "height": 464,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        400
      ],
      "typeVersion": 1,
      "id": "e62cc6ce-379b-4176-b5b4-fa62647739f6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Implementaria um monitoramento para garantir que a coleta, atualização dos dados e interação com os usuários, ocorram corretamente.\n\nCriar um processo com error trigger para monitorar os workflows e disparar uma mensagem para um canal especializado em monitoramento!\n\nE para cada worflow associaria o worflow de observabilidade em Settings > Error Workflow.\n\nDessa forma garante-se um mínimo de acompanhamento e resposta a incidentes de forma rápida.\n\n",
        "height": 272,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        432
      ],
      "typeVersion": 1,
      "id": "17a184bb-c169-41df-9381-5f2086172d04",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        800,
        736
      ],
      "id": "366efab6-3b5a-4359-815d-2022baf8d767",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1056,
        736
      ],
      "id": "c16821e6-a770-473c-a1f2-93784201e4f4",
      "name": "Send a message1",
      "webhookId": "a5d89674-6920-4b73-bd3f-bd5f53b420d7"
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "returncode": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Field User Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Field Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "1_Lista_Tabelas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2_Consulta_SQL_Personalizada": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "3_Consulta_com_Limite": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4_Consultar_disponibilidade_do_servico": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Field Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Field User Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "825b9269-16bb-4267-b7c6-ba96423d69d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b9f9f0d7a84cb0e9844c79a0f9e59884a319b74a9c366189cd00ba492206dbb"
  },
  "id": "llOvjkQm2xxac9oO",
  "tags": []
}